@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
   src: url("assets/fonts/Heebo-Medium.ttf'");
}
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/Heebo-Regular.ttf'");
}
