
  <div class="container">
    <div class="bg w-100" >
      <div class="top-company-logo"></div>
      <div class="header">
        <h1 class="title">{{'title' | testTranslation}}</h1>
        <h4 class="subtitle">{{'subtitle' | testTranslation}}</h4>
      </div>
      <form action="">
        <section class="data">
          <div class="d-flex justify-content-between flex-row input-row" >
            <div class="form-item"> <app-input-text [control]="inputCtrl"  [label]="'title' | testTranslation"> </app-input-text></div>
            <div class="form-item"> <app-input-text [control]="inputCtrl"  [label]="'title' | testTranslation"> </app-input-text></div>
            <div class="form-item"> <app-input-text [control]="inputCtrl"  [label]="'title' | testTranslation"> </app-input-text></div>
         </div>
          <div class="d-flex justify-content-between input-row" >
            <div class="form-item"> <app-dropdown [items]="dropdownItems" [control]="dropdownCtrl"  [label]="'title' | testTranslation"> </app-dropdown></div>
            <div class="form-item"> <app-dropdown [items]="dropdownItems" [control]="dropdownCtrl"  [label]="'title' | testTranslation"> </app-dropdown></div>
            <div class="form-item"> <app-input-text [control]="inputCtrl"  [label]="'title' | testTranslation"> </app-input-text></div>

          </div>
          <div class="d-flex justify-content-between align-items-center input-row" >
           <div class="years-description">{{'years' | testTranslation}}</div>
            <div class="years-value"> <app-radio [options]="[{id: 1, desc: 'test1'}, {id: 2, desc: 'test2'}]" [control]="radioCtrl" ></app-radio></div>

          </div>
        </section>
        <section class="division-role">
          <h4 class="division-title">{{'division' | testTranslation}}</h4>
          <div class="divisions">
            <div class="years-value"> <app-radio [withImageRadio]="true" [options]="[{id: 1, desc: 'test1'}, {id: 2, desc: 'test2'},{id: 3, desc: 'test1'}, {id: 2, desc: 'tes3t2'},{id: 4, desc: 'test41'}, {id: 5, desc: 'test42'}]" [control]="radioCtrl" ></app-radio></div>
          </div>
        </section>

      </form>

      <button></button>
    </div>



  </div>



<!--
<app-dropdown [items]="dropdownItems" [control]="dropdownCtrl" > </app-dropdown>
<app-checkbox [control]="checkBocCtrl"></app-checkbox>
<app-radio [options]="[{id: 1, desc: 'test1'}, {id: 2, desc: 'test2'}]" [control]="radioCtrl" ></app-radio>
-->



