
<div class="container">
  <div class="d-flex justify-content-center align-items-center flex-column search">
    <h4 class="search-title"> search repositories</h4>
    <div class="input-search-wrapper d-flex">
      <input type="text" class="search-input" (keyup.enter)="goSearch()" [(ngModel)]="inputSearch"
      >
      <button  class="search-btn" (click)="goSearch()" [disabled]="!inputSearch"><i class="fa fa-search"></i></button>

    </div>
  </div>



  <div class="d-flex justify-content-center align-items-center flex-column" style="width: 600px">
    <div *ngFor="let item of results"  >
      <div class="d-flex flex-row justify-content-between ">
        <div><span>{{item.repoName}}</span></div>
        <div style="width:50px"><img  style="width: 100%"[src]="item.repoAvatar" alt=""></div>
        <button (click)="bookmarkResult(item)">bookmark</button>

      </div>


    </div>
  </div>

</div>
<button class="my-bookmarks" (click)="goToBookmark()"></button>


