@import "~src/assets/scss/colors";
.dropdown-input{
position: relative;
  .dropdown {
    width: 100%;
    display: block;



    .dropdown-toggle {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      background-color: $gray1;

      border: solid 0.5px $border;
      border-radius: 3px;


      &:after{
        position: absolute;
        right: 15px;
        border-top: 0.5em solid;
        border-right: 0.5em solid transparent;
        border-bottom: 0;
        border-left: 0.5em solid transparent;
      }
    }
    .dropdown-menu {
      margin: 0;
      width: 100%;
      padding: 0;


      li.menu-item {
        cursor: pointer;
        .dropdown-item {
          margin: 0;
          height: 40px;
          display: flex;
          align-items: center;
          border-bottom: $border 1px solid;
          padding: 0 12px;
          &:last-child{
            border-bottom-width: 0;
          }
          &.selected, &:hover{
            background-color: $orange;
            color: $white;
          }
        }
      }
    }
  }

}

